<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="reset_password.css">
</head>
<body>
    <h1>Password Reset</h1>
    <form action="/updatePassword/resetPassword" method="post">
        <input type="hidden" name="token" value="[[TOKEN]]">
        <p>Hello there,</p>
        <p>We noticed that you're resetting your password. Please enter your new password below:</p>
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="submit" value="Reset Password">
        <p>If you didn't request this password reset, please ignore this email.</p>
        <p>Best regards,</p>
        <p>The Baron Boost Team</p>
    </form>
    <div class="footer">
        <p>From Yeh: "If you forget your password, you probably forget to ping for your team!"</p>
        &copy; <span id="current-year"></span> Baron Boost. All rights reserved.
    </div>
    <script>
        document.getElementById("current-year").textContent = new Date().getFullYear();
    </script>
</body>
</html>